// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .size{
  font-size: 200%;
  margin-left: 490px;
}

.top {
  margin-top: 50px;
}
   
.margin-left { 
  margin-left: 100px;
  font-size: 150%;
}

.offset {
  margin-top: 50px;
	margin-left: 85px;
}

.height {
  min-height: 1000px;
  min-width: 1200px;
}

.left {
  margin-left: 88px;
}

#check_category2_name {
  margin-top: 50px;
}

#check_brand {
  margin-top: 50px;
}

#check_color {
  margin-top: 50px;
}

#check_target {
  margin-top: 50px;
}

#check_price {
  margin-top: 50px;
}
